

```
# This is formatted as code
```

#KNN ALGORITHM FOR BREAST CANCER DATASET

IMPORTING BASIC LIBIRARIES NEED FOR 


*   DATA HANDLING(PANDAS)
*   MATHEMATICAL OPERATION NUMPY
*   DATA VISUVALIZATION MATPLOTLIB AND SEABORN

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

IMPORT DATA INTO THE COLAB DIRECTERY

---





READ THE "data.csv" FILE USING PANDAS IN THE VARIABLE NAME(data)

In [ ]:
data=pd.read_csv("data.csv")
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]



 REMOVE THE NaN VALUE IN THE LAST ROW(Unnamed: 32) AND ASIGN IT AS (newdata)

In [ ]:
cleaned_data=data.dropna(axis=1)

REMOVE THE ROW NAME ("id") BEACUSE THE VALUE WILL NOT BE THE REQUIRED DATA FOR THE PREDICTION

In [ ]:
new_data=cleaned_data.drop("id",axis=1)

In [ ]:
new_data

    diagnosis  radius_mean  ...  symmetry_worst  fractal_dimension_worst
0           M        17.99  ...          0.4601                  0.11890
1           M        20.57  ...          0.2750                  0.08902
2           M        19.69  ...          0.3613                  0.08758
3           M        11.42  ...          0.6638                  0.17300
4           M        20.29  ...          0.2364                  0.07678
..        ...          ...  ...             ...                      ...
564         M        21.56  ...          0.2060                  0.07115
565         M        20.13  ...          0.2572                  0.06637
566         M        16.60  ...          0.2218                  0.07820
567         M        20.60  ...          0.4087                  0.12400
568         B         7.76  ...          0.2871                  0.07039

[569 rows x 31 columns]

**CHECKING THE NULL OR NaN DATA PRESENT IN THE DATASET**

---

In [ ]:
new_data.isnull().sum()

diagnosis                  0
radius_mean                0
texture_mean               0
perimeter_mean             0
area_mean                  0
smoothness_mean            0
compactness_mean           0
concavity_mean             0
concave points_mean        0
symmetry_mean              0
fractal_dimension_mean     0
radius_se                  0
texture_se                 0
perimeter_se               0
area_se                    0
smoothness_se              0
compactness_se             0
concavity_se               0
concave points_se          0
symmetry_se                0
fractal_dimension_se       0
radius_worst               0
texture_worst              0
perimeter_worst            0
area_worst                 0
smoothness_worst           0
compactness_worst          0
concavity_worst            0
concave points_worst       0
symmetry_worst             0
fractal_dimension_worst    0
dtype: int64

ASSIGNING THE X VALUE AS FEATURE OF THE VARIOUS FACTOR INFLUESNCED THE TARGETED OUTPUT DIAGNOSIS

In [ ]:
features=new_data.drop("diagnosis", axis=1)

ASSIGNING THE Y VALUE AS DIAGNOSIS FOR THE TARGETED OUTPUT DIAGNOSIS

In [ ]:
diagnosis=new_data["diagnosis"]

In [ ]:
features

     radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
0          17.99         10.38  ...          0.4601                  0.11890
1          20.57         17.77  ...          0.2750                  0.08902
2          19.69         21.25  ...          0.3613                  0.08758
3          11.42         20.38  ...          0.6638                  0.17300
4          20.29         14.34  ...          0.2364                  0.07678
..           ...           ...  ...             ...                      ...
564        21.56         22.39  ...          0.2060                  0.07115
565        20.13         28.25  ...          0.2572                  0.06637
566        16.60         28.08  ...          0.2218                  0.07820
567        20.60         29.33  ...          0.4087                  0.12400
568         7.76         24.54  ...          0.2871                  0.07039

[569 rows x 30 columns]

In [ ]:
diagnosis

0      M
1      M
2      M
3      M
4      M
      ..
564    M
565    M
566    M
567    M
568    B
Name: diagnosis, Length: 569, dtype: object

IMPORTING LIBRARY TO SPLIT THE TEST AND TRAIN DATAS FROM THE sklearn.model_selection

In [ ]:
from sklearn.model_selection import train_test_split

SPLITING TEST DATASET AS 20% AND TRAIN DATASET AS 80%

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(features, diagnosis, test_size=0.20)

In [ ]:
X_train

     radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst
378       13.660         15.15  ...          0.3387                  0.09638
490       12.250         22.44  ...          0.3100                  0.08203
196       13.770         22.29  ...          0.3080                  0.09333
500       15.040         16.74  ...          0.2177                  0.08549
124       13.370         16.39  ...          0.2048                  0.07628
..           ...           ...  ...             ...                      ...
305       11.600         24.49  ...          0.3244                  0.06745
538        7.729         25.49  ...          0.3058                  0.09938
458       13.000         25.13  ...          0.2306                  0.06291
274       17.930         24.48  ...          0.2504                  0.07948
486       14.640         16.85  ...          0.2455                  0.06596

[455 rows x 30 columns]

In [ ]:
y_train

378    B
490    B
196    M
500    B
124    B
      ..
305    B
538    B
458    B
274    M
486    B
Name: diagnosis, Length: 455, dtype: object

IMPORT STANDARDSCALER LIBRARY FROM sklearn.preprocessing FOR NORMALISING THE "X" VALUES WHICH IS IN THE DIFFRENT SCALE VALUES

In [ ]:
from sklearn.preprocessing import StandardScaler

USING SCALER AS A VARIBLE AND NORMALIZE THE "X_TRAIN" AND "TEST_VALUES"

> Indented block

In [ ]:
scaler=StandardScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

IMPORT THE KNeighborsClassifier FROM THE sklearn.neighbors FOR FIND TO PERFORM THE TRAING USING KNN ALGORITHM AND ASSIGN NEIGHBOURS=11

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn=KNeighborsClassifier(n_neighbors=11)
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                     weights='uniform')

PERFORM THE TEST PROCESS TO PREDICT THE DIAGNOSIS OUTPUT FOR THE TEST INPUT (X_TEST)

In [ ]:

y_predict=knn.predict(X_test)

In [ ]:
y_predict

array(['M', 'M', 'B', 'M', 'B', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'M',
       'B', 'M', 'B', 'B', 'M', 'B', 'M', 'M', 'B', 'M', 'B', 'M', 'B',
       'B', 'M', 'B', 'M', 'B', 'M', 'M', 'M', 'B', 'M', 'B', 'M', 'M',
       'B', 'B', 'M', 'B', 'B', 'B', 'B', 'B', 'M', 'B', 'M', 'M', 'B',
       'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B', 'B', 'M', 'B', 'B', 'B',
       'B', 'B', 'M', 'B', 'M', 'B', 'B', 'M', 'B', 'M', 'B', 'B', 'B',
       'M', 'M', 'B', 'B', 'M', 'M', 'B', 'B', 'M', 'M', 'B', 'B', 'M',
       'M', 'M', 'M', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'B', 'M',
       'M', 'B', 'B', 'M', 'B', 'B', 'B', 'B', 'M', 'M'], dtype=object)

IMPORTING THE CLASSIFICATION REPORT AND CONFUSION MATRIX MODULE FROM THE SKLEARN.METRICS TO PRODUCE THE REPORT OF ACCURACY VALUE OF THE TRAINED MODULE

In [ ]:

from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,y_predict))
print(confusion_matrix(y_test,y_predict))

              precision    recall  f1-score   support

           B       0.94      1.00      0.97        66
           M       1.00      0.92      0.96        48

    accuracy                           0.96       114
   macro avg       0.97      0.96      0.96       114
weighted avg       0.97      0.96      0.96       114

[[66  0]
 [ 4 44]]

IMPORTING ACCURACY SCORE MODULE FROM SKLEARN.METRICS TO GET THE ACCURACY OF TEST AND PREDICTED DATASET

In [ ]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test, y_predict)
print("THE ACCURACY OF THE KNN MODEL FOR THIS BREAST CANCER DATA SET  : ",int(accuracy*100),"%")

THE ACCURACY OF THE KNN MODEL FOR THIS BREAST CANCER DATA SET  :  96 %